{% if comments.paginator.num_pages > 1 %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if comments.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ comments.previous_page_number }}">Prev</a>
            </li>
        {% endif %}

        {% for i in comments.paginator.page_range %}
            {% if i == comments.number %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ i }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if comments.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ comments.next_page_number }}">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}