amqp==5.3.1
asgiref==3.11.0
billiard==4.2.4
celery==5.6.2
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
diff-match-patch==20241021
Django==6.0
django-cors-headers==4.9.0
django-debug-toolbar==6.1.0
django-import-export==4.4.0
django-seed==0.3.1
django-unfold==0.76.0
django-widget-tweaks==1.5.0
djangorestframework==3.16.1
easy-thumbnails==2.10.1
Faker==40.1.2
kombu==5.6.2
packaging==26.0
pillow==12.0.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
PyMySQL==1.1.2
python-dateutil==2.9.0.post0
redis==6.4.0
six==1.17.0
sqlparse==0.5.4
tablib==3.9.0
toposort==1.10
tzdata==2025.2
tzlocal==5.3.1
vine==5.1.0
wcwidth==0.6.0
